/* Variables */
$font-family: "Merriweather", serif;
$font-weight-normal: 400;
$font-weight-bold: 800;

$max-width: 900px;

$font-size-base: 16px;
$font-size-h1: 2em;
$font-size-h2: 1.5em;
$font-size-h3: 1.2em;
$line-height: 1.5;

$background-color: #F3F2ED;
$text-color: #272727;
$hover-color: #D50B8B;
$code-bg-color: #E3E3E6;
$border-color: #D50B8B;

/* Global font and reset */
* {
  font-family: $font-family;
  font-weight: $font-weight-normal;
  font-style: normal;
  box-sizing: border-box;
}

html, body {
  background-color: $background-color;
  color: $text-color;
  margin: 0 auto;
  max-width: $max-width;
  line-height: $line-height;
  font-size: $font-size-base;
}

header {
  text-align: center;
  margin-bottom: 4em;

  > a {
    color: inherit;
    text-decoration: inherit;
  }

}

nav {
    display: flex;
    justify-content: space-around;
    max-width: 50%;
    margin: 0 auto;


   a {
    flex: 1;
    text-align: center;
    cursor: pointer;
    padding: 0.4em 0;
    color: $text-color;
    text-decoration: none;
    font-weight: $font-weight-bold;
    text-transform: uppercase;

        &:hover,
        &:focus {
          color: $hover-color;
          background-color: $background-color;
        }
    }
}

h1, h2, h3 {
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  margin-bottom: 0;
}

h1 { font-size: $font-size-h1; }
h2 { font-size: $font-size-h2; }
h3 { font-size: $font-size-h3; }

p, a {
  font-size: 1rem;
}

p {
    text-align: justify;
    margin: {
        top: 0.5em;
        right: 0;
        bottom: 1em;
        left: 0;
    }
}

a {
  color: $text-color;
  text-decoration: underline;

  &:hover,
  &:focus {
    color: $hover-color;
    background: $text-color;
    cursor: pointer;
  }
}

section {
  text-align: right;

    h1 {margin-bottom: 1em;}

  time {
    font-weight: $font-weight-bold;
    display: block;
    margin-top: 0;
    color: $hover-color;
  }
}

hr {
    margin: {
        bottom: 2em;
    }

    border: none {
        top: {
            width: 1px;
            style: solid;
            color: $hover-color;
        }

    }

    &.dark {
        border-top: {
            width: 2px;
            style: solid;
            color: $text-color;
        }
    }

    &.dotted {
        border-top: {
            width: 1px;
            style: dotted;
            color: $text-color;
        }
    }

    header & { margin: 0; }
    footer & {
        margin: {top: 4em;}
        &:after {
            content: "⚒";
            display: block;
            text-align: center;
            padding: 1em 0;
        }
    }
}

em {
    color: $hover-color;
    font-weight: $font-weight-bold;

    &#header {
        text-transform: lowercase;
        font-weight: $font-weight-normal;
    }
}

img {
  width: 100%;
  height: auto;
  border: 1px solid $hover-color;
  border-radius: 2px;
}

figure {
  margin: 1em 0;
  text-align: center;

  figcaption {
    font-size: 0.9em;
    margin-top: 0.2em;
  }
}

ul.article__list {
    line-height: 1.2;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        display: flex;
        justify-content: space-between;

        > a {
            text-decoration: none;
            padding: 0;
            font-weight: $font-weight-bold;;
        }

        time {
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
            font-family: monospace;
            color: #a8a8a8;
            flex:1;
            text-align: right;
            border-bottom: 1px solid #a8a8a8;
        }
    }
}

/* Code blocks */
code {
  color: $hover-color;
  background-color: $code-bg-color;
  padding: 0.2em 0.4em;
  border-radius: 3px;
  font-family: monospace;
  font-weight: 600;
}

pre {
  background-color: $code-bg-color;
  padding: 1em;
  overflow-x: auto;
  border-left: 4px solid $text-color;
  margin: 1em 0;
  font-family: monospace;

  span {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: 0.5;
    font-family: inherit;
  }
}

/* Responsive */
@media (max-width: 800px) {
  body {
    padding: 0 1em;
    font-size: 15px;
  }

  nav {max-width: unset;}

  h1 { font-size: 1.5em; }
  h2 { font-size: 1.2em; }
  h3 { font-size: 1.1em; }
}
